
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

  .dashboardTitle{
    color: #2B2B2B;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    color: #2B2B2B;
    grid-column: span 2;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  .card-value {
    font-size: 25px;
    font-weight: bolder;
  }
  

  .nested-stats {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px; 
    grid-column: span 3;

  }
  